<a href="https://colab.research.google.com/github/PolyakovMaksim/HomeWork-Python/blob/master/%D0%9F%D0%BE%D0%BB%D1%8F%D0%BA%D0%BE%D0%B2_%D0%9C_Lesson_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Тема “Вычисления с помощью Numpy”

Задание 1

In [2]:
import numpy as np

In [44]:
a = np.array([[1,6], [2,8], [3,11], [3,10], [1,7]])

In [45]:
mean_a = a.mean(axis=0)
mean_a

array([2. , 8.4])

Задание 2

In [47]:
a_centered = a - mean_a
a_centered

array([[-1. , -2.4],
       [ 0. , -0.4],
       [ 1. ,  2.6],
       [ 1. ,  1.6],
       [-1. , -1.4]])

Задание 3

In [56]:
a_centered_sp = a_centered [:,0] @ a_centered [:,1]
a_centered_sp

8.0

In [63]:
a_centered_sp/(int(format(a.shape)[1])-1)

2.0

Задание 4**

##Тема “Работа с данными в Pandas”

Задание 1

In [65]:
import pandas as pd

In [68]:
authors = pd.DataFrame (
     {
    'author_id' : [1, 2, 3] ,
    'author_name' : ['Тургенев', 'Чехов', 'Островский']
}
)
authors

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

In [69]:
book  = pd.DataFrame (
     {
    'author_id' : [1, 1, 1, 2, 2, 3, 3] ,
    'book_title' : ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
    'price' : [450, 300, 350, 500, 450, 370, 290]
}
)
book

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

Задание 2

In [107]:
authors_price = pd.merge (authors, book, on = 'author_id', how = 'inner')
authors_price

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

Задание 3

In [106]:
authors_price.sort_values(by = 'price', inplace = True, ascending=False)

In [105]:
authors_price.sort_values(by = 'price', inplace = True, ascending=False)
top5 = authors_price.head(5)
top5

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

Задание 4

In [131]:
author_stat = authors_price.groupby('author_name').price.agg(['min', 'max', 'mean'])
author_stat = author_stat.rename (columns =  {'min': 'price_min', 'max' : 'price_max', 'mean' : 'price_mean'})
author_stat

             price_min  price_max  price_mean
author_name
Островский         290        370  330.000000
Тургенев           300        450  366.666667
Чехов              450        500  475.000000